{% load static %}
<header id="header" class="header fixed-top">

  <div class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo d-flex align-items-center">
        <a href="{% url 'del_app:home' %}">
          <img src="{% static 'assets/img/favicon.ico' %}" alt="Logo" class="topbar-logo">
        </a>
      </div>
      <div class="auth-buttons">
        {% if user.is_authenticated %}
          <a href="{% url 'accounts_app:user_profile' %}" class="custom-btn me-2">Dashboard</a>
          <a href="{% url 'accounts_app:logout' %}" class="custom-btn">Logout</a>
        {% else %}
          <a href="{% url 'accounts_app:login' %}" class="custom-btn me-2">Login</a>
          <a href="{% url 'accounts_app:register' %}" class="custom-btn">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="{% url 'del_app:home' %}" class="logo d-flex align-items-center">
        <h1 class="sitename">Dinereserve</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'del_app:home' %}" class="{% if request.path == '/' %} active {% endif %}">Home</a></li>
          <li><a href="{% url 'del_app:about' %}" class="{% if request.path == '/about/' %} active {% endif %}">About</a></li>
          <li><a href="{% url 'del_app:menu' %}" class="{% if request.path == '/menu/' %} active {% endif %}">Menu</a></li>
          <li><a href="{% url 'del_app:events' %}" class="{% if request.path == '/events/' %} active {% endif %}">Events</a></li>
          <li><a href="{% url 'del_app:gallery' %}" class="{% if request.path == '/gallery/' %} active {% endif %}">Gallery</a></li>

          <li class="dropdown">
            <a href="#"><span>Contact</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <li><a href="{% url 'del_app:show_contacts' %}">All messages</a></li>
                {% else %}
                  <li><a href="{% url 'del_app:contact' %}">Contact Us</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </li>

          <li class="dropdown">
            <a href="#"><span>Booking</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <li><a href="{% url 'del_app:show_bookings' %}">All Bookings</a></li>
                  {% else %}
                  <li><a href="{% url 'del_app:book_table' %}">Book a Table</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </div>

</header>
